div.Title{
    width: 1000px;
    height: 40px;
    background-color: darkgray;
    margin-bottom: 20px;
}

div.Middle{
    width: 1000px;
    height: 320px;
    background-color: azure;
    font-size: 0;
}

div.Left{
    width: 250px;
    height: 320px;
    background-color: darkgray;
    display: inline-block;
    vertical-align: top;
    margin: 0px 0px 0px 0px;
}

div.menu{
    width: 250px;
    height: 100px;
    background-color: red;
    margin-bottom: 10px;
    font-size: 15px;
}

div.Right{
    width: 700px;
    height: 320px;
    background-color: darkgray;
    display: inline-block;
    vertical-align: top;
    margin: 0px 0px 0px 50px;
}

div.image{
    width: 700px;
    height: 300px;
    background-color: black;
}

div.text{
    width: 700px;
    height: 20px;
    background-color: blue;
    font-size: 15px;
}

div.Footer{
    width: 1000px;
    height: 40px;
    background-color: orange;
    margin-top: 20px;
    text-align: right;
}